<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @RenderSection("head", required: false)
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <script src="~/templeate/css12/all.js"></script>
    <link href="~/templeate/css12/all.css" rel="stylesheet" />
    <link href="~/templeate/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/templeate/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/templeate/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/templeate/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/templeate/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/templeate/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/templeate/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/templeate/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/templeate/css/style.css" type="text/css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="~/templeate/css12/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/templeate/css12/style.css" type="text/css">

</head>
<body>

    <!-- Page Preloder -->
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Đăng Nhập</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>VND<i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>VND</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="templeate/img/icon/search.png" alt=""></a>
            <a href="#"><img src="templeate/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="templeate/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Miễn phí gia hàng và đổi trả 30 ngày.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Miễn phí gia hàng và đổi trả 30 ngày</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#"></a>                            
                            </div>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="templeate/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Ở đây chúng tôi bán hàng bằng cả trái tim và uy tín của mình.</p>
                        <a href="#"><img src="templeate/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Cửa Hàng</a></li>
                            <li><a href="#">Xu Hướng</a></li>
                            <li><a href="#">Phụ Kiện</a></li>
                            <li><a href="#">Giảm Giá</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Liên Hệ</a></li>
                            <li><a href="#">Phương Thước Thanh toán</a></li>
                            <li><a href="#">Vận Chuyển</a></li>
                            <li><a href="#">Đổi Trả </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">

                        <p>
                            Copyright ©
                            2020

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Js Plugins -->
    <script src="~/templeate/js/jquery-3.3.1.min.js"></script>
    <script src="~/templeate/js/bootstrap.min.js"></script>
    <script src="~/templeate/js/jquery.nice-select.min.js"></script>
    <script src="~/templeate/js/jquery.nicescroll.min.js"></script>
    <script src="~/templeate/js/jquery.magnific-popup.min.js"></script>
    <script src="~/templeate/js/jquery.countdown.min.js"></script>
    <script src="~/templeate/js/jquery.slicknav.js"></script>
    <script src="~/templeate/js/mixitup.min.js"></script>
    <script src="~/templeate/js/owl.carousel.min.js"></script>
    <script src="~/templeate/js/main.js"></script>
    @RenderSection("footer", required: false)
</body>
</html>
